<mat-card appearance="outlined" style="margin: 3px;">
    <mat-card-header>
        <span>
            <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </span>
        <span class="fill-remaining-space">
            Lambda Function Details: {{ this.functionName }}
        </span>
        <span>
            <button (click)="uploadCode()" aria-label="Refresh" mat-icon-button>
                <mat-icon>upload</mat-icon>
            </button>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </span>
    </mat-card-header>
    <mat-card appearance="outlined" style="margin: 3px;">
        <mat-card-header>
            <mat-card-title>Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="3" rowHeight="420px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                        <mat-list>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Region: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.region }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Function name: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.functionName }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Handler: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.handler }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Role: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.role }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>ARN: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.functionArn }}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                        <mat-list>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>User: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.user }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Runtime: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.runtime }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Version: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.version }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Size:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ byteConversion(functionItem.size) }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Concurrency:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.concurrency }}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                        <mat-list>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Number of invocation:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.invocations }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Average Execution time:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.averageRuntime }} ms</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Last invocation:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.lastInvocation ? (functionItem.lastInvocation.$date | date: 'yyyy-MM-dd HH:mm:ss') : '-' }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Created:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.created ? (functionItem.created.$date | date: 'yyyy-MM-dd HH:mm:ss') : '-' }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Modified:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ functionItem.modified ? (functionItem.modified.$date | date: 'yyyy-MM-dd HH:mm:ss') : '-' }}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" style="margin-top: 5px;">
        <mat-card-header>
            <mat-card-title>Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab [matTooltipShowDelay]="1000" label="Environment" matTooltip="Lambda function environment variables">
                    <mat-card-actions class="head-buttons">
                        <button (click)="addEnvironment()" [matTooltipShowDelay]="1000" aria-label="Add environment variable" mat-icon-button matTooltip="Add a new environment variable">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button (click)="loadEnvironment()" [matTooltipShowDelay]="1000" aria-label="Refresh environment variable" mat-icon-button matTooltip="Refresh the environment variable list">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </mat-card-actions>
                    <div *ngIf="lambdaEnvironment$ | async as environment" class="row">
                        <table (matSortChange)="environmentSortChanged($event)" [dataSource]="environment.EnvironmentCounters" class="mat-elevation-z8" mat-table matSort>
                            <ng-container matColumnDef="key">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Environment variable name" sortActionDescription="Sort by name">Name</th>
                                <td *matCellDef="let element" mat-cell> {{ element.key }}</td>
                            </ng-container>
                            <ng-container matColumnDef="value">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Environment variable value" sortActionDescription="Sort by value">Value
                                </th>
                                <td *matCellDef="let element" mat-cell> {{ element.value }}</td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th *matHeaderCellDef mat-header-cell style="width:120px">Actions</th>
                                <td *matCellDef="let row" mat-cell>
                                    <button (click)="editEnvironment(row.key, row.value)" [matTooltipShowDelay]="1000" aria-label="Edit" mat-icon-button matTooltip="Edit the lambda environment variable">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="deleteEnvironment(row.key)" [matTooltipShowDelay]="1000" aria-label="Delete" mat-icon-button matTooltip="Delete lambda environment variable">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="environmentColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: environmentColumns;" mat-row></tr>
                            <tr *matNoDataRow class="mat-row">
                                <td [attr.colspan]="environmentColumns.length" class="mat-cell">
                                    No data matching the filter.
                                </td>
                            </tr>
                        </table>
                        <mat-paginator (page)="handleEnvironmentPageEvent($event)"
                                       [disabled]="false"
                                       [hidePageSize]="false"
                                       [length]="(lambdaEnvironment$ | async)?.Total"
                                       [pageIndex]="environmentPageIndex$"
                                       [pageSizeOptions]="environmentPageSizeOptions"
                                       [pageSize]="environmentPageSize$"
                                       [showFirstLastButtons]="true"
                                       aria-label="Select page">
                        </mat-paginator>
                    </div>
                </mat-tab>
                <mat-tab [matTooltipShowDelay]="1000" label="Tags" matTooltip="Lambfda function tags">
                    <mat-card-actions class="head-buttons">
                        <button (click)="addTag()" aria-label="Refresh" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                        <button (click)="loadTags()" aria-label="Refresh" mat-icon-button>
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </mat-card-actions>
                    <div *ngIf="lambdaTags$ | async as tags" class="row">
                        <table (matSortChange)="tagSortChange($event)" [dataSource]="tags.TagCounters" class="mat-elevation-z8" mat-table matSort>
                            <ng-container matColumnDef="key">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Tag name" sortActionDescription="Sort by name">Name</th>
                                <td *matCellDef="let element" mat-cell> {{ element.key }}</td>
                            </ng-container>
                            <ng-container matColumnDef="value">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Tag value" sortActionDescription="Sort by value">Value
                                </th>
                                <td *matCellDef="let element" mat-cell> {{ element.value }}</td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th *matHeaderCellDef mat-header-cell style="width:120px">Actions</th>
                                <td *matCellDef="let row" mat-cell>
                                    <button (click)="editTag(row.key, row.value)" [matTooltipShowDelay]="1000" aria-label="Edit" mat-icon-button matTooltip="Edit the subscription">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="deleteTag(row.key)" [matTooltipShowDelay]="1000" aria-label="Delete" mat-icon-button matTooltip="Delete lambda notification">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="tagColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: tagColumns;" mat-row></tr>
                            <tr *matNoDataRow class="mat-row">
                                <td [attr.colspan]="tagColumns.length" class="mat-cell">
                                    No data matching the filter.
                                </td>
                            </tr>
                        </table>
                        <mat-paginator (page)="handleTagPageEvent($event)"
                                       [disabled]="false"
                                       [hidePageSize]="false"
                                       [length]="(lambdaTags$ | async)?.Total"
                                       [pageIndex]="tagPageIndex$"
                                       [pageSizeOptions]="tagPageSizeOptions"
                                       [pageSize]="tagPageSize$"
                                       [showFirstLastButtons]="true"
                                       aria-label="Select page">
                        </mat-paginator>
                    </div>
                </mat-tab>
                <!--mat-tab label="Topic Notifications">
                    Topic Notifications
                </mat-tab-->
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
    <div class="footer">
        Last update: {{ lastUpdate | date: 'HH:mm:ss' }}
    </div>
</mat-card>
