<mat-card appearance="outlined" style="margin: 3px;">
    <mat-card-header>
        <span>
            <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </span>
        <span class="fill-remaining-space">
            Key Details: {{ (keyDetailsResponse$ | async)?.Key?.KeyId }}
        </span>
        <span>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </span>
    </mat-card-header>
    <mat-card appearance="outlined" style="margin-top: 5px;">
        <mat-card-content>
            <div *ngIf="(keyDetailsResponse$ | async) as keyDetails">
                <mat-grid-list cols="5" rowHeight="300px">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start; align-content:flex-start; justify-content: flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>ID: </p>
                                    <p class="map-list-span-value" matListItemLine>{{ keyDetails.Key?.KeyId }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>ARN: </p>
                                    <p class="map-list-span-value" matListItemLine>{{ keyDetails.Key?.KeyArn }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Origin: </p>
                                    <p class="map-list-span-value" matListItemLine>{{ keyDetails.Key?.Origin }}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start; align-content:flex-start; justify-content: flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Specification: </p>
                                    <p class="map-list-span-value" matListItemLine>{{ keyDetails.Key?.KeySpec }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>State: </p>
                                    <p class="map-list-span-value" matListItemLine>{{ keyDetails.Key?.KeyState }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Usage: </p>
                                    <p class="map-list-span-value" matListItemLine>{{ keyDetails.Key?.KeyUsage }}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start; align-content:flex-start; justify-content: flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Created: </p>
                                    <p class="map-list-span-value" matListItemLine>{{ keyDetails.Key?.CreationDate ? (keyDetails.Key?.CreationDate | date: 'yyyy-MM-dd HH:mm:ss') : '-' }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Deletion: </p>
                                    <p class="map-list-span-value" matListItemLine>{{ keyDetails.Key?.DeletionDate ? (keyDetails.Key?.DeletionDate | date: 'yyyy-MM-dd HH:mm:ss') : '-' }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="footer">
        Last update: {{ lastUpdate | date: 'HH:mm:ss' }}
    </div>
</mat-card>
