.full-screen-modal .mat-dialog-container {
  max-width: none;
}

.spinner-loading {
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}