<mat-card class="mat-elevation-z3">
    <mat-card-header>
        <div class="container">
            <div class="flex-container-left">
                <div class="flex-item">
                    <!--mat-card-title class="one">Performance</mat-card-title-->
                </div>
            </div>
            <div class="flex-container-right">
                <div class="flex-item">
                    <mat-card-actions>
                        <mat-select (selectionChange)="loadMemoryChart()" [(ngModel)]="selectedTimeRange" style="width:200px">
                            @for (range of ranges; track range) {
                                <mat-option [value]="range.value">{{ range.viewValue }}</mat-option>
                            }
                        </mat-select>
                    </mat-card-actions>
                </div>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div>
            @if (memChartOptions) {
                <!-- Using ngx-echarts directive -->
                <div class="chart-wrapper">
                    <div [autoResize]="true" [options]="memChartOptions" class="echart" echarts></div>
                </div>
            }
        </div>
    </mat-card-content>
</mat-card>
