<h2 cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>Export Infrastructure</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field style="width: 100%;height:100%">
        <mat-label>Infrastructure:</mat-label>
        <textarea [(ngModel)]="body" cdkAutosizeMinRows="70" cdkTextareaAutosize matInput placeholder="Infrastructure" readonly
                  style="width:100%; height:100%"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close tabindex="-1">Cancel</button>
    <button (click)="fileExport()" cdkFocusInitial mat-button>Save to file</button>
</mat-dialog-actions>
