
:host {
  position: relative;
  width: 100%;
  height: 30%;
  margin-top: 0;
  padding-bottom: 33%;
}

.head-buttons {
  display: flex;
  flex-direction: row;
  align-items: end;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  justify-content: flex-end;
}

.head-buttons-left {
  display: flex;
  flex-direction: row;
  align-items: start;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  justify-content: start;
}

.fill-remaining-space {
  flex: 1 1 auto;
  padding-top: 6px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: x-large;
}

.table-container {
  max-height: calc(100vh - 10px); // or height:calc(100vh - 155px); depending on your need  change
  overflow: auto;
}

.full-screen-modal .mat-dialog-container {
  padding: 1em;
  width: 90%;
  height: 80%;
  resize: both;
  overflow: auto;
  max-width: unset !important;
  max-height: unset !important;
  position: absolute !important;
}

.footer-buttons {
  display: flex;
  flex-direction: row;
  align-items: end;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  width: 50%;
  justify-content: flex-end;
}

.footer {
  display: flex;
  width: 50%;
  font-size: x-small;
  color: black;
  padding-top: 15px;
}

.with-icon {
  display: flex;
  align-items: center;
}

.copy-icon {
  display: inline-flex;
  vertical-align: bottom;
  font-size: 16px !important;
}