<mat-card appearance="outlined" style="margin: 3px">
    <mat-card-header>
        <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="fill-remaining-space">
            <h4>SQS Messages: {{ queueName }}</h4>
        </span>
        <button (click)="sendMessage()" aria-label="Refresh" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
        <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <mat-card appearance="outlined" style="margin: -10px">
            <div class="table-container">
                <table (matSortChange)="sortChange($event)" [dataSource]="messageDataSource" class="mat-elevation-z8 queue-table" mat-table matSort>
                    <ng-container matColumnDef="messageId">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Message ID" sortActionDescription="Sort by id">Message ID</th>
                        <td *matCellDef="let element" mat-cell> {{ element.messageId }}</td>
                    </ng-container>
                    <ng-container matColumnDef="region">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Region" sortActionDescription="Sort by region">Region</th>
                        <td *matCellDef="let element" mat-cell> {{ element.region }}</td>
                    </ng-container>
                    <ng-container matColumnDef="created">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Created" sortActionDescription="Sort by created">Created</th>
                        <td *matCellDef="let element" mat-cell> {{ element.created|date:'dd-MM-yyyy HH:mm:ss' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="modified">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Modified" sortActionDescription="Sort by modified">Modified</th>
                        <td *matCellDef="let element" mat-cell> {{ element.modified|date:'dd-MM-yyyy HH:mm:ss' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th *matHeaderCellDef mat-header-cell style="width:120px">Actions</th>
                        <td *matCellDef="let row" mat-cell>
                            <button (click)="editMessage(row)" aria-label="Send" mat-icon-button matTooltip="Send a message">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="deleteMessage(row.receiptHandle)" aria-label="Delete" mat-icon-button matTooltip="Delete the message">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr *matHeaderRowDef="columns" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columns;" mat-row></tr>
                    <tr *matNoDataRow class="mat-row">
                        <td [attr.colspan]="columns.length" class="mat-cell" style="padding-left: 20px;padding-top: 10px">
                            No data matching the filter.
                        </td>
                    </tr>
                </table>
            </div>
            <mat-paginator (page)="handlePageEvent($event)"
                           [disabled]="disabled"
                           [hidePageSize]="hidePageSize"
                           [length]="length"
                           [pageIndex]="pageIndex"
                           [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                           [pageSize]="pageSize"
                           [showFirstLastButtons]="showFirstLastButtons"
                           aria-label="Select page" style="width:99%; margin-left:15px">
            </mat-paginator>
        </mat-card>
        <div class="footer">
            Last update: {{ lastUpdate }}
        </div>
    </mat-card-content>
</mat-card>
