.full-screen-modal .mat-dialog-container {
  padding: 1em;
  width: 90%;
  height: 80%;
  resize: both;
  overflow: auto;
  max-width: unset !important;
  max-height: unset !important;
  position: absolute !important;
}

.fill-remaining-space {
  flex: 1 1 auto;
  padding-top: 6px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: x-large;
}

.head-buttons {
  display: flex;
  flex-direction: row;
  align-items: end;
  box-sizing: border-box;
  min-height: 40px;
  padding: 8px;
  justify-content: flex-end;
}

::ng-deep.cdk-overlay-pane {
  resize: both;
  overflow: auto;
  background: #fff;
  border-radius: 30px !important;
}