<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <div class="container">
            <div class="flex-container-left">
                <div class="flex-item">
                </div>
            </div>
            <div class="flex-container-right">
                <div class="flex-item">
                    <mat-card-actions>
                        <mat-select (selectionChange)="loadMessageCountChart()" [(ngModel)]="selectedTimeRange" style="width:200px;margin-right:10px">
                            @for (range of ranges; track range) {
                                <mat-option [value]="range.value">{{ range.viewValue }}</mat-option>
                            }
                        </mat-select>
                        <mat-select (selectionChange)="loadMessageCountChart()" [(ngModel)]="selectedTopx" style="width:200px">
                            @for (range of topx; track range) {
                                <mat-option [value]="range.value">{{ range.viewValue }}</mat-option>
                            }
                        </mat-select>
                    </mat-card-actions>
                </div>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <apx-chart
                [chart]="messageCountChartOptions?.chart"
                [dataLabels]="messageCountChartOptions?.dataLabels"
                [grid]="messageCountChartOptions?.grid"
                [legend]="messageCountChartOptions?.legend"
                [series]="messageCountChartOptions?.series"
                [stroke]="messageCountChartOptions?.stroke"
                [title]="messageCountChartOptions?.title"
                [tooltip]="messageCountChartOptions?.tooltip"
                [xaxis]="messageCountChartOptions?.xaxis"
                [yaxis]="messageCountChartOptions?.yaxis"
        ></apx-chart>
    </mat-card-content>
</mat-card>
