.form {
  min-width: 150px;
  //  max-width: 500px;
  width: 100%;
  margin-right: 10px;
}

.form-full-width {
  width: 100%;
}

.head-buttons {
  display: flex;
  flex-direction: row;
  align-items: end;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  justify-content: flex-end;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 1rem;
  width: 30ch;
}

.item {
  padding: 1rem;
  //box-sizing: border-box;
  //border: 1px solid black;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-list-span-title {
  font-size: small;
}

.mat-list-span-value {
  font-size: smaller;
}

.footer {
  display: flex;
  width: 50%;
  font-size: x-small;
  color: black;
}