<mat-card appearance="outlined" style="margin-top: 5px;">
    <mat-card-header>
        <span>
            <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </span>
        <span class="fill-remaining-space">
            <h4>Queue Details: {{ queueName }}</h4>
        </span>
        <span>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </span>
    </mat-card-header>
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="220px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                        <mat-list>
                            <mat-list-item>
                                <span class="mat-list-span-title" matListItemTitle>Queue Name: </span>
                                <span class="mat-list-span-value" matListItemLine>{{ queueName }}</span>
                            </mat-list-item>
                            <mat-list-item>
                                <span class="mat-list-span-title" matListItemTitle>ARN: </span>
                                <span class="mat-list-span-value" matListItemLine>{{ queueArn }}</span>
                            </mat-list-item>
                            <mat-list-item>
                                <span class="mat-list-span-title" matListItemTitle>URL: </span>
                                <span class="mat-list-span-value" matListItemLine>{{ queueUrl }}</span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                        <mat-list>
                            <mat-list-item>
                                <span class="mat-list-span-title" matListItemTitle>Visibility Timeout (s): </span>
                                <span class="mat-list-span-value" matListItemLine>{{ visibilityTimeout }}</span>
                            </mat-list-item>
                            <mat-list-item>
                                <span class="mat-list-span-title" matListItemTitle>Delay (s): </span>
                                <span class="mat-list-span-value" matListItemLine>{{ queueDelay }}</span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" style="margin-top: 5px;">
        <mat-card-header>
            <mat-card-title>Attributes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Attributes">
                    <div class="container">
                        <div class="item">

                            <mat-list>
                                <mat-list-item>Available:</mat-list-item>
                                <mat-list-item>InFlight:</mat-list-item>
                                <mat-list-item>Delayed:</mat-list-item>
                            </mat-list>
                        </div>
                        <div class="item">
                            <mat-list>
                                <mat-list-item>{{ messagedAvailable }}</mat-list-item>
                                <mat-list-item>{{ messagedInFlight }}</mat-list-item>
                                <mat-list-item>{{ messagedDelayed }}</mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Tags">
                    Tags
                </mat-tab>
                <mat-tab label="Access Policy">
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
    <mat-card-actions align="end">
        <button (click)=close() mat-button>Close</button>
        <button (click)=save() mat-button>Save</button>
    </mat-card-actions>
    <div class="footer">
        Last update: {{ lastUpdate }}
    </div>
</mat-card>
