<mat-card appearance="outlined" style="margin: 3px;">
    <mat-card-header>
        <span>
            <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </span>
        <span class="fill-remaining-space">
            S3 Object Details: {{ this.id }}
        </span>
        <span>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </span>
    </mat-card-header>
    <mat-card appearance="outlined" style="margin: 3px;">
        <mat-card-header>
            <mat-card-title>Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="420px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                        <mat-list>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Region: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ objectItem.region }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Bucket: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ objectItem.bucketName }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Key: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ objectItem.key }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Internal Name: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ objectItem.internalName }}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                        <mat-list>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Content Type: </p>
                                <p class="mat-list-span-value" matListItemLine>{{ objectItem.contentType }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Size:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ byteConversion(objectItem.size) }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Created:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ objectItem.created ? (objectItem.created | date: 'yyyy-MM-dd HH:mm:ss') : '-' }}</p>
                            </mat-list-item>
                            <mat-list-item style="height:80px">
                                <p class="mat-list-span-title" matListItemTitle>Modified:</p>
                                <p class="mat-list-span-value" matListItemLine>{{ objectItem.modified ? (objectItem.modified  | date: 'yyyy-MM-dd HH:mm:ss') : '-' }}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <div class="footer">
        Last update: {{ lastUpdate | date: 'HH:mm:ss' }}
    </div>
</mat-card>
