<mat-card>
    <mat-card-header>
        <button aria-label="Upload" class="head-buttons-left" mat-icon-button routerLink="/s3-bucket-list">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h4>S3 Objects {{ bucketName }}</h4>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions class="head-buttons">
            <button (click)="uploadObject()" aria-label="Upload" mat-icon-button>
                <mat-icon>upload</mat-icon>
            </button>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-actions>
        <table (matSortChange)="sortChange($event)" [dataSource]="objectDataDataSource" class="mat-elevation-z8 queue-table" mat-table matSort>
            <ng-container matColumnDef="key" matTooltip="Object key">
                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Object key" sortActionDescription="Sort by key">Name</th>
                <td *matCellDef="let element" mat-cell> {{ element.key }}</td>
            </ng-container>
            <ng-container matColumnDef="size" matTooltip="Object size in bytes">
                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Object size" sortActionDescription="Sort by key">Size in bytes</th>
                <td *matCellDef="let element" mat-cell> {{ element.size }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell style="width:160px">Actions</th>
                <td *matCellDef="let row" mat-cell>
                    <!--button (click)="listObjects(row.bucketName)" aria-label="List" mat-icon-button matTooltip="Lists all objects">
                        <mat-icon>list</mat-icon>
                    </button-->
                    <button (click)="deleteObject(row.key)" aria-label="DeleteObject" mat-icon-button matTooltip="Delete object">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: columns;" mat-row></tr>
            <tr *matNoDataRow class="mat-row">
                <td [attr.colspan]="columns.length" class="mat-cell">
                    No data matching the filter.
                </td>
            </tr>
        </table>
        <mat-paginator (page)="handlePageEvent($event)"
                       [disabled]="disabled"
                       [hidePageSize]="hidePageSize"
                       [length]="length"
                       [pageIndex]="pageIndex"
                       [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="showFirstLastButtons"
                       aria-label="Select page">
        </mat-paginator>
        <div class="footer">
            Last update: {{ lastUpdate }}
        </div>
    </mat-card-content>
</mat-card>
