<mat-card>
    <mat-card-header>
        <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h4>SNS Topics</h4>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions class="head-buttons">
            <button (click)="addTopic()" aria-label="Refresh" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-actions>
        <table (matSortChange)="sortChange($event)" [dataSource]="topicDataSource" class="mat-elevation-z8 queue-table" mat-table matSort>
            <ng-container matColumnDef="topicName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Topic name" sortActionDescription="Sort by queueUrl">Name</th>
                <td *matCellDef="let element" mat-cell>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/sns-topic-detail/{{ element.topicArn }}">{{ element.topicName }}</a>
                    </mat-nav-list>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell style="width:200px">Actions</th>
                <td *matCellDef="let row" mat-cell>
                    <button (click)="publishMessage(row.topicArn)" aria-label="Send" mat-icon-button matTooltip="Send a message">
                        <mat-icon>send</mat-icon>
                    </button>
                    <button (click)="listMessages(row.topicArn)" aria-label="MessageList" mat-icon-button matTooltip="Lists all messages">
                        <mat-icon>list</mat-icon>
                    </button>
                    <button (click)="deleteTopic(row.topicArn)" aria-label="Delete" mat-icon-button matTooltip="Delete the topic">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: columns;" mat-row></tr>
            <tr *matNoDataRow class="mat-row">
                <td [attr.colspan]="columns.length" class="mat-cell">
                    No data matching the filter.
                </td>
            </tr>
        </table>
        <mat-paginator (page)="handlePageEvent($event)"
                       [disabled]="disabled"
                       [hidePageSize]="hidePageSize"
                       [length]="length"
                       [pageIndex]="pageIndex"
                       [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="showFirstLastButtons"
                       aria-label="Select page">
        </mat-paginator>
        <!--mat-card-actions class="head-buttons">
          <button (click)="saveConfig()" aria-label="Save" mat-icon-button>
            <span class="material-symbols-outlined">save</span>
          </button>
          <button (click)="setDefault()" aria-label="Default" mat-icon-button>
            <span class="material-symbols-outlined">location_away</span>
          </button>
        </mat-card-actions-->
        <div class="footer">
            Last update: {{ lastUpdate }}
        </div>
    </mat-card-content>
</mat-card>
