<mat-card appearance="outlined" style="margin: 3px;">
    <mat-card-header>
        <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="fill-remaining-space">
            SQS Queues ({{ (listQueueCountersResponse$ | async)?.Total }})
        </span>
        <button (click)="createQueue()" aria-label="Refresh" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
        <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <mat-card appearance="outlined" style="margin: -10px;">
            <mat-card-actions align="start">
                <mat-form-field style="width:100%">
                    <mat-label>Prefix</mat-label>
                    <input (keyup.enter)="setPrefix()" [(ngModel)]="prefixValue" matInput name="search" placeholder="Search" type="text">
                    <button (click)="unsetPrefix()" *ngIf="prefixSet" mat-icon-button matSuffix style="float: right">
                        <mat-icon matSuffix>close</mat-icon>
                    </button>
                    <button (click)="setPrefix()" mat-icon-button matSuffix style="float: right">
                        <mat-icon matSuffix>search</mat-icon>
                    </button>
                </mat-form-field>
                <!--mat-checkbox [(ngModel)]="setDlq">DLQs</mat-checkbox-->
            </mat-card-actions>
            <div class="table-container">
                <div *ngIf="listQueueCountersResponse$ | async as queueCounters" class="row">
                    <table (matSortChange)="sortChange($event)" [dataSource]="queueCounters.QueueCounters" class="mat-elevation-z8 queue-table" mat-table matSort>
                        <ng-container matColumnDef="queueName">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Queue name" sortActionDescription="Sort by queueUrl">Name</th>
                            <td *matCellDef="let element" mat-cell>
                                <mat-nav-list>
                                    <a mat-list-item routerLink="./messages/{{ element.queueArn }}" style="width:90%"> {{ element.queueName }}</a>
                                </mat-nav-list>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="messagesAvailable">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Number of messages available"
                                sortActionDescription="Sort by messageAvailable">Available
                            </th>
                            <td *matCellDef="let element" mat-cell> {{ element.available }}</td>
                        </ng-container>
                        <ng-container matColumnDef="messagesInFlight">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Number of messages invisible"
                                sortActionDescription="Sort by messagesInFlight">In flight
                            </th>
                            <td *matCellDef="let element" mat-cell> {{ element.invisible }}</td>
                        </ng-container>
                        <ng-container matColumnDef="messagesDelayed">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Number of messages delayed"
                                sortActionDescription="Sort by messagesDelayed">Delayed
                            </th>
                            <td *matCellDef="let element" mat-cell> {{ element.delayed }}</td>
                        </ng-container>
                        <ng-container matColumnDef="size">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Total size of all messages in bytes"
                                sortActionDescription="Sort by size">Size
                            </th>
                            <td *matCellDef="let element" mat-cell> {{ byteConversion(element.size) }}</td>
                        </ng-container>
                        <ng-container matColumnDef="created">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Queue creation timestamp" sortActionDescription="Sort by created">
                                Created
                            </th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.created ? (element.created.$date | date:'dd-MM-yyyy HH:mm:ss') : '-' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="modified">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Queue modified timestamp" sortActionDescription="Sort by modified">
                                Modified
                            </th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.modified ? (element.modified.$date | date:'dd-MM-yyyy HH:mm:ss') : '-' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th *matHeaderCellDef mat-header-cell style="width:240px">Actions</th>
                            <td *matCellDef="let row" mat-cell>
                                <button (click)="sendMessage(row.queueUrl)" [matTooltipShowDelay]="1000" aria-label="Send" mat-icon-button matTooltip="Send a message to the queue">
                                    <mat-icon>send</mat-icon>
                                </button>
                                <button (click)="redriveMessages(row)" [disabled]="!row.isDlq" [matTooltipShowDelay]="1000" aria-label="Send" mat-icon-button matTooltip="Redrive messages. Only available for DQLs.">
                                    <mat-icon>redo</mat-icon>
                                </button>
                                <button [matTooltipShowDelay]="1000" aria-label="QueueDetails" mat-icon-button matTooltip="View queue details" routerLink="./details/{{ row.queueArn }}">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button (click)="purgeQueue(row.queueUrl)" [matTooltipShowDelay]="1000" aria-label="Purge" mat-icon-button matTooltip="Purge queue">
                                    <mat-icon>clear_all</mat-icon>
                                </button>
                                <button (click)="deleteQueue(row.queueUrl)" [matTooltipShowDelay]="1000" aria-label="Purge" mat-icon-button matTooltip="Delete the queue">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr *matHeaderRowDef="columns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: columns;" mat-row></tr>
                        <tr *matNoDataRow class="mat-row">
                            <td [attr.colspan]="columns.length" class="mat-cell">
                                No data matching the filter.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <mat-paginator (page)="handlePageEvent($event)"
                           [disabled]="disabled"
                           [hidePageSize]="hidePageSize"
                           [length]="(listQueueCountersResponse$ | async)?.Total"
                           [pageIndex]="(pageIndex$ | async)"
                           [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                           [pageSize]="(pageSize$ | async)??false"
                           [showFirstLastButtons]="showFirstLastButtons"
                           aria-label="Select page" style="width:99%; margin-left:15px">

            </mat-paginator>
        </mat-card>
        <div class="footer">
            Last update: {{ lastUpdate | date: 'HH:mm:ss' }}
        </div>
    </mat-card-content>
</mat-card>
