<mat-card>
    <mat-card-header>
        <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h4>Cognito Users: {{ userPoolId }}</h4>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions class="head-buttons">
            <mat-form-field style="width:400px">
                <mat-label>Prefix</mat-label>
                <input [(ngModel)]="prefix" matInput name="search" placeholder="Search" type="text">
                <button (click)="setPrefix()" *ngIf="!prefixSet" mat-icon-button matSuffix style="float: right">
                    <mat-icon matSuffix>search</mat-icon>
                </button>
                <button (click)="unsetPrefix()" *ngIf="prefixSet" mat-icon-button matSuffix style="float: right">
                    <mat-icon matSuffix>close</mat-icon>
                </button>
            </mat-form-field>
            <div flex style="width:80%"></div>
            <button (click)="addUser()" aria-label="Upload" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-actions>
        <table (matSortChange)="sortChange($event)" [dataSource]="userDataSource" class="mat-elevation-z8 queue-table" mat-table matSort>
            <ng-container matColumnDef="userName" matTooltip="User name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="User name" sortActionDescription="Sort by userName">Name</th>
                <td *matCellDef="let element" mat-cell> {{ element.userName }}</td>
            </ng-container>
            <ng-container matColumnDef="status" matTooltip="status">
                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="User status" sortActionDescription="Sort by created">Status</th>
                <td *matCellDef="let element" mat-cell> {{ element.status }}</td>
            </ng-container>
            <ng-container matColumnDef="enabled" matTooltip="enabled">
                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="User enabled" sortActionDescription="Sort by enabled">Enabled</th>
                <td *matCellDef="let element" mat-cell> {{ element.enabled }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell style="width:160px">Actions</th>
                <td *matCellDef="let row" mat-cell>
                    <!--button (click)="listUsers(row.userPoolId)" aria-label="List" mat-icon-button matTooltip="Lists all users of the user pool">
                        <mat-icon>group</mat-icon>
                    </button-->
                    <button (click)="deleteUser(row.userName)" aria-label="DeleteUser" mat-icon-button matTooltip="Delete user">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: columns;" mat-row></tr>
            <tr *matNoDataRow class="mat-row">
                <td [attr.colspan]="columns.length" class="mat-cell">
                    No data matching the filter.
                </td>
            </tr>
        </table>
        <mat-paginator (page)="handlePageEvent($event)"
                       [disabled]="disabled"
                       [hidePageSize]="hidePageSize"
                       [length]="length"
                       [pageIndex]="pageIndex"
                       [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="showFirstLastButtons"
                       aria-label="Select page">
        </mat-paginator>
        <div class="footer">
            Last update: {{ lastUpdate }}
        </div>
    </mat-card-content>
</mat-card>
