<mat-toolbar class="mat-elevation-z8 mat-toolbar">
    <div style="display: flex;flex-direction: row;align-content: center;justify-content: flex-start;align-items: center;">
        <button (click)="sidenav.toggle()" *ngIf="sidenav.mode === 'push'" mat-icon-button style="color: white">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        AWS Mock UI
    </div>
    <div style="display: flex; flex-direction: row; align-content: center; justify-content: right; align-items: end;width: 100%;">
        <button (click)="home()" class="menu-button" mat-icon-button style="color: white">
            <mat-icon>home</mat-icon>
        </button>
        <button (click)="logOut()" class="menu-button" mat-icon-button style="color: white">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" mode="push" style="margin-right: 10px">

        <div style="align-items: flex-start; display: flex; justify-content: flex-start; align-content: flex-start; flex-direction: column;">

            <button class="menu-button" mat-button routerLink="/sqs-queues" style="color: white">
                <mat-icon svgIcon="icon_sqs"></mat-icon>
                <span>SQS</span>
            </button>
            <button class="menu-button" mat-button routerLink="/sns-topic-list" style="color: white">
                <mat-icon svgIcon="icon_sns"></mat-icon>
                <span>SNS</span>
            </button>
            <button class="menu-button" mat-button routerLink="/s3-bucket-list" style="color: white">
                <mat-icon svgIcon="icon_s3"></mat-icon>
                <span>S3</span>
            </button>
        </div>

        <mat-divider style="color: white"></mat-divider>
        <div style="align-items: flex-start; display: flex; justify-content: flex-start; align-content: flex-start; flex-direction: column;">

            <button class="menu-button" mat-button routerLink="/home" style="color: white">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button class="menu-button" mat-button routerLink="/profile" style="color: white">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button class="menu-button" mat-button routerLink="/about" style="color: white">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div style="align-items: flex-start; display: flex; justify-content: flex-start; align-content: flex-start; flex-direction: column;">

            <button class="menu-button" mat-button routerLink="/help" style="color: white">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
