<mat-toolbar class="mat-elevation-z8 mat-toolbar">
    <div style="display: flex;flex-direction: row;align-content: center;justify-content: flex-start;align-items: center;">
        <a href="/dashboard" style="color:white;text-decoration:none">AWS Mock UI</a>
        <mat-form-field class="input-parent" style="margin-left:40px; margin-right: 10px; font-size: 12px;" subscriptSizing="dynamic">
            <mat-label>Prefix</mat-label>
            <input (keyup.enter)="navigateMenu()" [(ngModel)]="service" matInput name="search" placeholder="Service" type="text">
        </mat-form-field>
    </div>
    <div style="display: flex; flex-direction: row; align-content: center; justify-content: right; align-items: end;width: 100%;">
        <button (click)="home()" class="menu-button" mat-icon-button style="color: white">
            <mat-icon>home</mat-icon>
        </button>
        <button (click)="config()" class="menu-button" mat-icon-button style="color: white">
            <mat-icon>settings</mat-icon>
        </button>
        <button (click)="logOut()" class="menu-button" mat-icon-button style="color: white">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
