<mat-card class="mat-elevation-z4">
    <mat-card-actions class="head-buttons">
        @if (scrollToEnd) {
            <button (click)="stopScrolling(false)" [matTooltipShowDelay]="1000" aria-label="Stop scrolling" mat-icon-button matTooltip="Stop scrolling to end">
                <mat-icon>file_download_off</mat-icon>
            </button>
        } @else {
            <button (click)="stopScrolling(true)" [matTooltipShowDelay]="1000" aria-label="Start scrolling" mat-icon-button matTooltip="Start scrolling to end">
                <mat-icon>download</mat-icon>
            </button>
        }
    </mat-card-actions>
    <mat-card-content style="height:95%">
        <form method="post" style="height:100%">
            <div #logMessages style="overflow: auto; height:100%">
                <editor [disabled]="false" [init]="{ selector: 'textarea', plugins: 'code help image lists link powerpaste table wordcount',  base_url: '/tinymce', suffix: '.min',ui_mode: 'split'}" [inline]="true" [innerHTML]="logs"
                        apiKey="no-api-key" id="logMessages" toolbar="bold italic underline | formatpainter | aligncenter alignleft alignright alignjustify | selectall | ltr rtl | code | help">
                </editor>
            </div>
        </form>
    </mat-card-content>
</mat-card>

