<h2 cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>Item: {{ oid }}</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field style="width: 100%;height:100%">
        <mat-label>Message:</mat-label>
        <textarea [(ngModel)]="itemJson" cdkAutosizeMinRows="20" cdkTextareaAutosize matInput placeholder="Message" style="width:100%; height:100%">
            {{itemJson}}
        </textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button (click)="updateItem()" cdkFocusInitial mat-button>Update</button>
</mat-dialog-actions>
