<h2 cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>S3 Object: {{ key }}</h2>
<mat-dialog-actions>
    <mat-slide-toggle (change)="changePrettyPrint($event)"
                      [checked]="prettyPrint"
                      labelPosition="before">
        Pretty Print:
    </mat-slide-toggle>
</mat-dialog-actions>
<mat-dialog-content class="mat-typography">
    <mat-form-field style="width: 100%;height:100%">
        <mat-label>Object</mat-label>
        <textarea [(ngModel)]="transformedBody" cdkAutosizeMinRows="70" cdkTextareaAutosize matInput placeholder="Invalid object" readonly
                  style="width:100%; height:100%"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
