<mat-card>
    <mat-card-header>
        <mat-card-subtitle>
            <h4>S3 Buckets</h4>
            <app-breadcrumb></app-breadcrumb>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions class="head-buttons">
            <button (click)="addBucket()" aria-label="Refresh" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-actions>
        <table (matSortChange)="sortChange($event)" [dataSource]="bucketDataDataSource" class="mat-elevation-z8 queue-table" mat-table matSort>
            <ng-container matColumnDef="bucketName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Queue name" sortActionDescription="Sort by queueUrl">Name</th>
                <td *matCellDef="let element" mat-cell> {{ element.bucketName }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell style="width:160px">Actions</th>
                <td *matCellDef="let row" mat-cell>
                    <button (click)="listObjects(row.bucketName)" aria-label="List" mat-icon-button matTooltip="Lists all objects">
                        <mat-icon>list</mat-icon>
                    </button>
                    <button (click)="deleteObjects(row.bucketName)" aria-label="DeleteObject" mat-icon-button matTooltip="Delete all objects in the bucket">
                        <mat-icon>folder_delete</mat-icon>
                    </button>
                    <button (click)="deleteBucket(row.bucketName)" aria-label="DeleteBucket" mat-icon-button matTooltip="Delete the bucket">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: columns;" mat-row></tr>
            <tr *matNoDataRow class="mat-row">
                <td [attr.colspan]="columns.length" class="mat-cell">
                    No data matching the filter.
                </td>
            </tr>
        </table>
        <mat-paginator (page)="handlePageEvent($event)"
                       [disabled]="disabled"
                       [hidePageSize]="hidePageSize"
                       [length]="length"
                       [pageIndex]="pageIndex"
                       [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="showFirstLastButtons"
                       aria-label="Select page">
        </mat-paginator>
        <div class="footer">
            Last update: {{ lastUpdate }}
        </div>
    </mat-card-content>
</mat-card>
