<mat-card>
    <mat-card-header>
        <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h4>S3 Buckets</h4>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions align="start">
            <mat-form-field style="width:400px">
                <mat-label>Prefix</mat-label>
                <input [(ngModel)]="prefix" matInput name="search" placeholder="Search" type="text">
                <button (click)="setPrefix()" *ngIf="!prefixSet" mat-icon-button matSuffix style="float: right">
                    <mat-icon matSuffix>search</mat-icon>
                </button>
                <button (click)="unsetPrefix()" *ngIf="prefixSet" mat-icon-button matSuffix style="float: right">
                    <mat-icon matSuffix>close</mat-icon>
                </button>
            </mat-form-field>
            <div flex style="width:80%"></div>
            <button (click)="addBucket()" aria-label="Refresh" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
            <button (click)="refresh()" align="end" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-actions>
        <div style="">
            <table (matSortChange)="sortChange($event)" [dataSource]="bucketDataDataSource" class="mat-elevation-z8" mat-table matSort style="width:100%">
                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Queue name" sortActionDescription="Sort by queueUrl">Name</th>
                    <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="objects">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Objects" sortActionDescription="Sort by objects">Objects</th>
                    <td *matCellDef="let element" mat-cell> {{ element.keys }}</td>
                </ng-container>
                <ng-container matColumnDef="size">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Size" sortActionDescription="Sort by size">Size</th>
                    <td *matCellDef="let element" mat-cell> {{ byteConversion(element.size) }}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef mat-header-cell style="width:200px">Actions</th>
                    <td *matCellDef="let row" mat-cell>
                        <button (click)="editBucket(row.name)" aria-label="Edit" mat-icon-button matTooltip="Edit the bucket">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="listObjects(row.name)" aria-label="List" mat-icon-button matTooltip="Lists all objects">
                            <mat-icon>list</mat-icon>
                        </button>
                        <button (click)="deleteObjects(row.name)" aria-label="DeleteObject" mat-icon-button matTooltip="Delete all objects in the bucket">
                            <mat-icon>folder_delete</mat-icon>
                        </button>
                        <button (click)="deleteBucket(row.name)" aria-label="DeleteBucket" mat-icon-button matTooltip="Delete the bucket">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr *matHeaderRowDef="columns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: columns;" mat-row></tr>
                <tr *matNoDataRow class="mat-row">
                    <td [attr.colspan]="columns.length" class="mat-cell">
                        No data matching the filter.
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator (page)="handlePageEvent($event)"
                       [disabled]="disabled"
                       [hidePageSize]="hidePageSize"
                       [length]="length"
                       [pageIndex]="pageIndex"
                       [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="showFirstLastButtons"
                       aria-label="Select page">
        </mat-paginator>
        <div class="footer">
            Last update: {{ lastUpdate }}
        </div>
    </mat-card-content>
</mat-card>
