<mat-card appearance="outlined" style="margin: 3px;">
    <mat-card-header>
        <span>
            <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </span>
        <span class="fill-remaining-space">
            Queue Details: {{ (queueDetails$ | async)?.queueName }}
        </span>
        <span>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </span>
    </mat-card-header>
    <mat-card appearance="outlined" style="margin: 3px;">
        <mat-card-header>
            <mat-card-title>Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="(queueDetails$ | async) as queueDetails">
                <mat-grid-list cols="5" rowHeight="240px">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start; align-content:flex-start; justify-content: flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Name: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.queueName }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>ARN: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.queueArn }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>URL: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.queueUrl }}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Visibility Timeout (s): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.visibilityTimeout }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Delay (s): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.delay }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Max Message Size (kB): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.maxMessageSize / 1024 }}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Retention Period (s): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.retentionPeriod }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Message Count: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.messageCount }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Total Size (kB): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ (queueDetails.size / 1024).toFixed(0) }}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Created: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.created | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Modified: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.modified|date: 'yyyy-MM-dd HH:mm:ss' }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" style="margin-top: 5px;">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Attributes">
                    <mat-card-actions class="head-buttons">
                        <button (click)="refreshAttributes()" aria-label="Refresh" mat-icon-button>
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </mat-card-actions>
                    <div *ngIf="queueAttributes$ | async as attributes" class="row">
                        <table (matSortChange)="attributeSortChange($event)" [dataSource]="attributes.AttributeCounters" class="mat-elevation-z8" mat-table matSort>
                            <ng-container matColumnDef="name">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="ID" sortActionDescription="Sort by attribute name">Name</th>
                                <td *matCellDef="let element" mat-cell> {{ element.Key }}</td>
                            </ng-container>
                            <ng-container matColumnDef="value">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Attribute value" sortActionDescription="Sort by attribute value">Value</th>
                                <td *matCellDef="let element" mat-cell> {{ element.Value }}</td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th *matHeaderCellDef mat-header-cell style="width:120px">Actions</th>
                                <td *matCellDef="let row" mat-cell>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="attributeColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: attributeColumns;" mat-row></tr>
                            <tr *matNoDataRow class="mat-row">
                                <td [attr.colspan]="attributeColumns.length" class="mat-cell">
                                    No data matching the filter.
                                </td>
                            </tr>
                        </table>
                    </div>
                    <mat-paginator (page)="handleAttributePageEvent($event)"
                                   [disabled]="false"
                                   [hidePageSize]="false"
                                   [length]="(queueAttributes$ | async)?.Total"
                                   [pageIndex]="(attributePageIndex$ | async)"
                                   [pageSizeOptions]="attributePageSizeOptions"
                                   [pageSize]="(attributePageSize$ | async)"
                                   [showFirstLastButtons]="true"
                                   aria-label="Select page">
                    </mat-paginator>
                </mat-tab>
                <mat-tab label="Tags">
                    <mat-card-actions class="head-buttons">
                        <button (click)="addTag()" aria-label="Refresh" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                        <button (click)="refreshTags()" aria-label="Refresh" mat-icon-button>
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </mat-card-actions>
                    <div *ngIf="queueTags$ | async as tags" class="row">
                        <table (matSortChange)="tagSortChange($event)" [dataSource]="tags.TagCounters" class="mat-elevation-z8" mat-table matSort>
                            <ng-container matColumnDef="name">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="ID" sortActionDescription="Sort by tag name">Name</th>
                                <td *matCellDef="let element" mat-cell> {{ element.Key }}</td>
                            </ng-container>
                            <ng-container matColumnDef="value">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Tag value" sortActionDescription="Sort by tag value">Value</th>
                                <td *matCellDef="let element" mat-cell> {{ element.Value }}</td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th *matHeaderCellDef mat-header-cell style="width:120px">Actions</th>
                                <td *matCellDef="let row" mat-cell>
                                    <button (click)="editTag(row.Key, row.Value)" aria-label="Edit" mat-icon-button matTooltip="Edit the tag">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="deleteTag(row.Key)" aria-label="Delete" mat-icon-button matTooltip="Delete tag">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="tagColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: tagColumns;" mat-row></tr>
                            <tr *matNoDataRow class="mat-row">
                                <td [attr.colspan]="tagColumns.length" class="mat-cell">
                                    No data matching the filter.
                                </td>
                            </tr>
                        </table>
                    </div>
                    <mat-paginator (page)="handleTagPageEvent($event)"
                                   [disabled]="false"
                                   [hidePageSize]="false"
                                   [length]="(queueTags$ | async)?.Total"
                                   [pageIndex]="(tagPageIndex$ | async)"
                                   [pageSizeOptions]="tagPageSizeOptions"
                                   [pageSize]="(tagPageSize$ | async)"
                                   [showFirstLastButtons]="true"
                                   aria-label="Select page">
                    </mat-paginator>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
    <div class="footer">
        Last update: {{ lastUpdate | date: 'HH:mm:ss' }}
    </div>
</mat-card>
