<mat-card appearance="outlined" style="margin: 3px;">
    <mat-card-header>
        <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="fill-remaining-space">
            <h4>Cognito User pools</h4>
        </span>
        <button (click)="addUserPool()" aria-label="Refresh" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
        <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <mat-card appearance="outlined" style="margin: -10px;">
            <mat-card-actions class="head-buttons">
                <mat-form-field style="width:100%">
                    <mat-label>Prefix</mat-label>
                    <input [(ngModel)]="prefixValue" matInput name="search" placeholder="Search" type="text">
                    <button (click)="setPrefix()" *ngIf="!prefixSet" mat-icon-button matSuffix style="float: right">
                        <mat-icon matSuffix>search</mat-icon>
                    </button>
                    <button (click)="unsetPrefix()" *ngIf="prefixSet" mat-icon-button matSuffix style="float: right">
                        <mat-icon matSuffix>close</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-actions>
            <div class="table-container">
                <div *ngIf="listUserPoolCountersResponse$ | async as userPoolCounters" class="row">
                    <table (matSortChange)="sortChange($event)" [dataSource]="userPoolCounters.userPools" class="mat-elevation-z8 queue-table" mat-table matSort>
                        <ng-container matColumnDef="id" matTooltip="User PoolId">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="User Pool ID" sortActionDescription="Sort by userPoolId">ID</th>
                            <td *matCellDef="let element" mat-cell>
                                <mat-nav-list>
                                    <a mat-list-item routerLink="./users/{{ element.userPoolId }}">{{ element.userPoolId }}</a>
                                </mat-nav-list>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="created" matTooltip="Created">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Object size" sortActionDescription="Sort by created">Created</th>
                            <td *matCellDef="let element" mat-cell> {{ element.created | date: 'dd-MM-yyyy' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th *matHeaderCellDef mat-header-cell style="width:80px">Actions</th>
                            <td *matCellDef="let row" mat-cell>
                                <!--button (click)="listUsers(row.userPoolId)" aria-label="ListUsers" mat-icon-button matTooltip="Lists all users of that user pool">
                                    <mat-icon>group</mat-icon>
                                </button-->
                                <button (click)="deleteUserPool(row.userPoolId)" aria-label="DeleteUserPool" mat-icon-button matTooltip="Delete user pool">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr *matHeaderRowDef="columns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: columns;" mat-row></tr>
                        <tr *matNoDataRow class="mat-row">
                            <td [attr.colspan]="columns.length" class="mat-cell">
                                No data matching the filter.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <mat-paginator (page)="handlePageEvent($event)"
                           [disabled]="disabled"
                           [hidePageSize]="hidePageSize"
                           [length]="(listUserPoolCountersResponse$ | async)?.total"
                           [pageIndex]="(pageIndex$ | async)"
                           [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                           [pageSize]="(pageSize$ | async)"
                           [showFirstLastButtons]="showFirstLastButtons"
                           aria-label="Select page" style="width:99%; margin-left:15px">
            </mat-paginator>
        </mat-card>
        <div class="footer">
            Last update: {{ lastUpdate | date: 'HH:mm:ss' }}
        </div>
    </mat-card-content>
</mat-card>
