<mat-card appearance="outlined" style="margin: 3px">
    <mat-card-header>
        <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="fill-remaining-space">
            SNS Topics
        </span>
        <button (click)="addTopic()" aria-label="Refresh" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
        <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <mat-card appearance="outlined" style="margin: -10px;">
            <mat-card-actions align="start">
                <mat-form-field style="width:100%">
                    <mat-label>Prefix</mat-label>
                    <input (keyup.enter)="setPrefix()" [(ngModel)]="prefixValue" matInput name="search" placeholder="Search" type="text">
                    <button (click)="unsetPrefix()" *ngIf="prefixSet" mat-icon-button matSuffix style="float: right">
                        <mat-icon matSuffix>close</mat-icon>
                    </button>
                    <button (click)="setPrefix()" mat-icon-button matSuffix style="float: right">
                        <mat-icon matSuffix>search</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-actions>
            <div class="table-container">
                <div *ngIf="listTopicCountersResponse$ | async as topicCounters" class="row">
                    <table (matSortChange)="sortChange($event)" [dataSource]="topicCounters.TopicCounters" class="mat-elevation-z8 queue-table" mat-table matSort>
                        <ng-container matColumnDef="topicName">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Topic name" sortActionDescription="Sort by queueUrl">Name</th>
                            <td *matCellDef="let element" mat-cell>
                                <mat-nav-list>
                                    <a mat-list-item routerLink="./messages/{{ element.topicArn }}">{{ element.topicName }}</a>
                                </mat-nav-list>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="availableMessages">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Available messages in topic" sortActionDescription="Sort by created">
                                Available
                            </th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.availableMessages }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="size">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="SIze of all messages in bytes" sortActionDescription="Sort by size">
                                Size
                            </th>
                            <td *matCellDef="let element" mat-cell>
                                {{ byteConversion(element.size) }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="created">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Topic creation timestamp" sortActionDescription="Sort by created">
                                Created
                            </th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.created|date:'dd-MM-yyyy HH:mm:ss' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="modified">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Topic name" sortActionDescription="Sort by queueUrl">Modified</th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.modified|date:'dd-MM-yyyy HH:mm:ss' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th *matHeaderCellDef mat-header-cell style="width:200px">Actions</th>
                            <td *matCellDef="let row" mat-cell>
                                <button (click)="publishMessage(row.topicArn)" aria-label="Send" mat-icon-button matTooltip="Send a message">
                                    <mat-icon>send</mat-icon>
                                </button>
                                <button aria-label="Details" mat-icon-button matTooltip="Edit topic" routerLink="./details/{{ row.topicArn }}">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button (click)="purgeTopic(row.topicArn)" aria-label="Purge" mat-icon-button matTooltip="Purge the topic">
                                    <mat-icon>clear_all</mat-icon>
                                </button>
                                <button (click)="deleteTopic(row.topicArn)" aria-label="Delete" mat-icon-button matTooltip="Delete the topic">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr *matHeaderRowDef="columns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: columns;" mat-row></tr>
                        <tr *matNoDataRow class="mat-row">
                            <td [attr.colspan]="columns.length" class="mat-cell" style="padding-left: 20px;padding-top: 10px">
                                No data matching the filter.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <mat-paginator (page)="handlePageEvent($event)"
                           [disabled]="disabled"
                           [hidePageSize]="hidePageSize"
                           [length]="(listTopicCountersResponse$ | async)?.Total"
                           [pageIndex]="(pageIndex$ | async)"
                           [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                           [pageSize]="(pageSize$ | async)"
                           [showFirstLastButtons]="showFirstLastButtons"
                           aria-label="Select page" style="width:99%; margin-left:15px">
            </mat-paginator>
        </mat-card>
        <div class="footer">
            Last update: {{ lastUpdate | date: 'HH:mm:ss' }}
        </div>
    </mat-card-content>
</mat-card>
