::ng-deep {
  .mat-dialog-content {
    max-height: 90vh;
  }
}

.mat-list-span-title {
  color: #555555;
  padding: 10px 0;
  white-space: nowrap;
}

.mat-list-span-value {
  padding: 10px 0;
}

.copy-icon {
  display: inline-flex;
  font-size: 12px !important;
}
