<mat-card appearance="outlined" style="margin: 3px;">
    <mat-card-header>
        <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="fill-remaining-space">
            Secrets ({{ (listSecretCountersResponse$ | async)?.total }})
        </span>
        <button (click)="createSecret()" [matTooltipShowDelay]="1000" aria-label="Create" mat-icon-button matTooltip="Create a new secret">
            <mat-icon>add</mat-icon>
        </button>
        <button (click)="refresh()" [matTooltipShowDelay]="1000" aria-label="Refresh" mat-icon-button matTooltip="Refresh the secret list">
            <mat-icon>refresh</mat-icon>
        </button>
        <button [matTooltipShowDelay]="1000" [routerLink]="['/sqs-charts']" aria-label="Refresh" mat-icon-button matTooltip="Monitoring of the SQS counters">
            <mat-icon>
                <span class="material-symbols-outlined">monitoring</span>
            </mat-icon>
        </button>
        <button [matMenuTriggerFor]="mainmenu" [matTooltipShowDelay]="1000" aria-label="Main menu" mat-icon-button matTooltip="More...">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #mainmenu="matMenu" xPosition="before">
            <button mat-menu-item>
                <button (click)="autoReload()" mat-menu-item>
                    <mat-icon>
                        <span class="material-symbols-outlined">hourglass</span>
                    </mat-icon>
                    <span>Auto Reload</span>
                </button>
            </button>
        </mat-menu>
    </mat-card-header>
    <mat-card-content>
        <mat-card appearance="outlined" style="margin: -10px;">
            <mat-card-actions align="start">
                <mat-form-field style="width:100%">
                    <mat-label>Prefix</mat-label>
                    <input (keyup.enter)="setPrefix()" [(ngModel)]="prefixValue" matInput name="search" placeholder="Search" type="text">
                    <button (click)="unsetPrefix()" *ngIf="prefixSet" mat-icon-button matSuffix style="float: right">
                        <mat-icon matSuffix>close</mat-icon>
                    </button>
                    <button (click)="setPrefix()" mat-icon-button matSuffix style="float: right">
                        <mat-icon matSuffix>search</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-actions>
            <div class="table-container">
                <div *ngIf="listSecretCountersResponse$ | async as secretCounters" class="row">
                    <table (matSortChange)="sortChange($event)" [dataSource]="secretCounters.secretCounters" class="mat-elevation-z8 secret-table" mat-table matSort>
                        <ng-container matColumnDef="secretName">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Secret name" sortActionDescription="Sort by secret name">Name</th>
                            <td *matCellDef="let element" mat-cell>
                                <div class="with-icon">
                                    <mat-nav-list>
                                        <a mat-list-item routerLink="./details/{{ element.secretId }}"> {{ element.secretName }}</a>
                                    </mat-nav-list>
                                    <button [cdkCopyToClipboard]="element.secretName" [matTooltipShowDelay]="1000" aria-label="List" mat-icon-button matTooltip="Copy to clipboard">
                                        <mat-icon class="copy-icon">content_copy</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="secretId">
                            <th *matHeaderCellDef [matTooltipShowDelay]="1000" mat-header-cell mat-sort-header matTooltip="Secret ID" sortActionDescription="Sort by secret ID">Secret ID</th>
                            <td *matCellDef="let element" mat-cell>{{ element.secretId }}
                                <button [cdkCopyToClipboard]="element.secretId" [matTooltipShowDelay]="1000" aria-label="List" mat-icon-button matTooltip="Copy to clipboard">
                                    <mat-icon class="copy-icon">content_copy</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="created">
                            <th *matHeaderCellDef [matTooltipShowDelay]="1000" mat-header-cell mat-sort-header matTooltip="Secret creation timestamp" sortActionDescription="Sort by created">Created</th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.created ? (element.created | date:'dd-MM-yyyy HH:mm:ss') : '-' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="modified">
                            <th *matHeaderCellDef [matTooltipShowDelay]="1000" mat-header-cell mat-sort-header matTooltip="Secret modified timestamp" sortActionDescription="Sort by modified">Modified</th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.modified ? (element.modified | date:'dd-MM-yyyy HH:mm:ss') : '-' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th *matHeaderCellDef [matTooltipShowDelay]="1000" mat-header-cell matTooltip="Actions" style="width:120px">Actions</th>
                            <td *matCellDef="let row" mat-cell>
                                <button (click)="deleteSecret(row.secretId)" [matTooltipShowDelay]="1000" aria-label="Delete" mat-icon-button matTooltip="Delete the secret">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <!--button [matTooltipShowDelay]="1000" aria-label="SecretDetails" mat-icon-button matTooltip="View secret details" routerLink="./details/{{ row.secretArn }}">
                                    <mat-icon>edit</mat-icon>
                                </button-->
                                <button [matMenuTriggerFor]="menu" [matTooltipShowDelay]="1000" aria-label="Example icon-button with a menu" mat-icon-button matTooltip="More...">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item>
                                        <!--button (click)="purgeSecret(row.secretUrl)" [matTooltipShowDelay]="1000" aria-label="Purge" mat-menu-item matTooltip="Purge secret">
                                            <mat-icon>clear_all</mat-icon>
                                            <span>Purge secret</span>
                                        </button>
                                        <button (click)="redriveMessages(row)" [disabled]="!row.isDlq" [matTooltipShowDelay]="1000" aria-label="Send" mat-menu-item matTooltip="Redrive messages. Only available for DQLs.">
                                            <mat-icon>redo</mat-icon>
                                            <span>Redrive messages</span>
                                        </button>
                                        <mat-divider></mat-divider>
                                        <button (click)="deleteSecret(row.secretUrl)" [matTooltipShowDelay]="1000" aria-label="Purge" mat-menu-item matTooltip="Delete the secret">
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete secret</span>
                                        </button-->
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>
                        <tr *matHeaderRowDef="columns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: columns;" mat-row></tr>
                        <tr *matNoDataRow class="mat-row">
                            <td [attr.colspan]="columns.length" class="mat-cell">
                                No data matching the filter.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <mat-paginator (page)="handlePageEvent($event)"
                           [disabled]="disabled"
                           [hidePageSize]="hidePageSize"
                           [length]="(listSecretCountersResponse$ | async)?.total"
                           [pageIndex]="(pageIndex$ | async)"
                           [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                           [pageSize]="(pageSize$ | async)??false"
                           [showFirstLastButtons]="showFirstLastButtons"
                           aria-label="Select page" style="width:99%; margin-left:15px">

            </mat-paginator>
        </mat-card>
        <footer-component [lastUpdate]="lastUpdate"/>
    </mat-card-content>
</mat-card>
