<h2 mat-dialog-title>Add Application</h2>
<mat-dialog-content class="mat-typography">
    <mat-card appearance="outlined" style="margin: 3px;">
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="480px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-list style="width:100%">
                        <mat-list-item style="height:80px; width:100%">
                            <mat-form-field style="width:100%">
                                <mat-label>Name</mat-label>
                                <input (change)="onInputChanged($event)" [(ngModel)]="applicationItem.name" matInput value="">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item style="height:80px; width:100%">
                            <mat-form-field style="width:100%">
                                <mat-label>File</mat-label>
                                <input (change)="onInputChanged($event)" [(ngModel)]="fileName" matInput readonly value="">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item style="height:80px; width:100%">
                            <mat-form-field style="width:100%">
                                <mat-label>Version</mat-label>
                                <input (change)="onInputChanged($event)" [(ngModel)]="applicationItem.version" matInput value="">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item style="height:80px; width:100%">
                            <mat-form-field style="width:100%">
                                <mat-label>Runtime</mat-label>
                                <mat-select [(ngModel)]="selectedRuntime">
                                    @for (runtime of runtimes; track runtime) {
                                        <mat-option [value]="runtime.value">{{ runtime.viewValue }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item style="height:80px; width:100%">
                            <mat-form-field style="width:100%">
                                <mat-label>Memory (MB)</mat-label>
                                <input [(ngModel)]="memorySize" matInput value="512">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item style="height:80px; width:100%">
                            <mat-form-field style="width:100%">
                                <mat-label>Timeout (s)</mat-label>
                                <input [(ngModel)]="timeout" matInput value="3600">
                            </mat-form-field>
                        </mat-list-item>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div (dragover)="onDragOver($event)" (drop)="onFileDrop($event)" [class.error]="uploadError" [class.success]="uploadSuccess" class="file-upload-wrapper">
                        <input #fileInput (change)="onFileChange($event)" hidden type="file"/>
                        <div (click)="fileInput.click()" class="file-dropper">
                            <mat-icon>upload</mat-icon>
                            <p>Upload file</p>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" style="margin-top: 5px;">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab [matTooltipShowDelay]="1000" label="Environment" matTooltip="Application environment variables">
                    <mat-card-actions class="head-buttons">
                        <button (click)="addEnvironment()" [matTooltipShowDelay]="1000" aria-label="Add environment variable" mat-icon-button matTooltip="Add a new environment variable">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-actions>
                    <table (matSortChange)="environmentSortChanged($event)" [dataSource]="environmentDatasource" class="mat-elevation-z8" mat-table matSort>
                        <ng-container matColumnDef="key">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Environment variable name" sortActionDescription="Sort by name">Name</th>
                            <td *matCellDef="let element" mat-cell> {{ element.key }}</td>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Environment variable value" sortActionDescription="Sort by value">Value
                            </th>
                            <td *matCellDef="let element" mat-cell> {{ element.value }}</td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th *matHeaderCellDef mat-header-cell style="width:120px">Actions</th>
                            <td *matCellDef="let row" mat-cell>
                                <button (click)="editEnvironment(row.key, row.value)" [matTooltipShowDelay]="1000" aria-label="Edit" mat-icon-button matTooltip="Edit the lambda environment variable">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button (click)="deleteEnvironment(row.key)" [matTooltipShowDelay]="1000" aria-label="Delete" mat-icon-button matTooltip="Delete lambda environment variable">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr *matHeaderRowDef="environmentColumns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: environmentColumns;" mat-row></tr>
                        <tr *matNoDataRow class="mat-row">
                            <td [attr.colspan]="environmentColumns.length" class="mat-cell">
                                No data matching the filter.
                            </td>
                        </tr>
                    </table>
                    <mat-paginator (page)="handleEnvironmentPageEvent($event)"
                                   [disabled]="false"
                                   [hidePageSize]="false"
                                   [length]="environmentTotal"
                                   [pageIndex]="environmentPageIndex"
                                   [pageSizeOptions]="environmentPageSizeOptions"
                                   [pageSize]="environmentPageSize"
                                   [showFirstLastButtons]="true"
                                   aria-label="Select page">
                    </mat-paginator>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
    >
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="doCreate()" cdkFocusInitial disabled="{{createDisabled}}" mat-button>Create</button>
</mat-dialog-actions>
