<mat-card appearance="outlined" style="margin: 3px;">
    <mat-card-header>
        <span>
            <button (click)="back()" aria-label="Back" class="head-buttons-left" mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </span>
        <span class="fill-remaining-space">
            Secret Details: {{ (secretDetails$ | async)?.secretId }}
        </span>
        <span>
            <button (click)="refresh()" aria-label="Refresh" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </span>
    </mat-card-header>
    <mat-card appearance="outlined" style="margin: 3px;">
        <mat-card-header>
            <mat-card-title>Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="(secretDetails$ | async) as secretDetails">
                <mat-grid-list cols="5" rowHeight="240px">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start; align-content:flex-start; justify-content: flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Name: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ secretDetails.secretName }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>ARN: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ secretDetails.secretArn }}
                                        <button [cdkCopyToClipboard]="secretDetails.secretArn" [matTooltipShowDelay]="1000" aria-label="List" mat-icon-button matTooltip="Copy to clipboard">
                                            <mat-icon class="copy-icon">content_copy</mat-icon>
                                        </button>
                                    </p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Secret ID: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ secretDetails.secretId }}
                                        <button [cdkCopyToClipboard]="secretDetails.secretId" [matTooltipShowDelay]="1000" aria-label="List" mat-icon-button matTooltip="Copy to clipboard">
                                            <mat-icon class="copy-icon">content_copy</mat-icon>
                                        </button>
                                    </p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile>
                    <!--mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Visibility Timeout (s): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.visibilityTimeout }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Delay (s): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.delay }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Max Message Size (kB): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.maxMessageSize / 1024 }}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile-->
                    <!--mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Retention Period (s): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.retentionPeriod }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Message Count: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ queueDetails.messageCount }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Total Size (kB): </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ (queueDetails.size / 1024).toFixed(0) }}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile-->
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                            <mat-list>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Created: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ secretDetails.created ? (secretDetails.created | date: 'yyyy-MM-dd HH:mm:ss') : '-' }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                    <p class="mat-list-span-title" matListItemTitle>Modified: </p>
                                    <p class="mat-list-span-value" matListItemLine>{{ secretDetails.modified ? (secretDetails.modified | date: 'yyyy-MM-dd HH:mm:ss') : '-' }}</p>
                                </mat-list-item>
                                <mat-list-item style="height:80px">
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" style="margin-top: 5px;">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Value">
                    <mat-card-content>
                        <div style="width: 100%; display: flex; align-items: flex-start;align-content:flex-start">
                            <div *ngIf="(secretDetails$ | async) as secretDetails">
                                <mat-list>
                                    <mat-list-item style="height:80px">
                                        <p class="mat-list-span-title" matListItemTitle>Secret String: </p>
                                        <p class="mat-list-span-value" matListItemLine>{{ secretDetails.secretString }}
                                            <button [cdkCopyToClipboard]="secretDetails.secretString" [matTooltipShowDelay]="1000" aria-label="List" mat-icon-button matTooltip="Copy to clipboard">
                                                <mat-icon class="copy-icon">content_copy</mat-icon>
                                            </button>
                                        </p>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Versions">
                    <mat-card-actions class="head-buttons">
                        <button (click)="refreshVersions()" aria-label="Refresh" mat-icon-button>
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </mat-card-actions>
                    <div *ngIf="secretVersions$ | async as versions;else tagsNotFound" class="row">
                        <table (matSortChange)="versionSortChange($event)" [dataSource]="versions.secretVersionCounters" class="mat-elevation-z8" mat-table matSort>
                            <ng-container matColumnDef="id">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="ID" sortActionDescription="Sort by ID">ID</th>
                                <td *matCellDef="let element" mat-cell> {{ element.versionId }}</td>
                            </ng-container>
                            <ng-container matColumnDef="stages">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Version stages" sortActionDescription="Sort by states">Value</th>
                                <td *matCellDef="let element" mat-cell> {{ element.states.join(', ') }}</td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th *matHeaderCellDef mat-header-cell style="width:80px">Actions</th>
                                <td *matCellDef="let row" mat-cell>
                                    <button (click)="deleteVersions(row.versionId)" aria-label="Delete" mat-icon-button matTooltip="Delete tag">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="versionColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: versionColumns;" mat-row></tr>
                            <tr *matNoDataRow class="mat-row">
                                <td [attr.colspan]="versionColumns.length" class="mat-cell">
                                    No data matching the filter.
                                </td>
                            </tr>
                        </table>
                        <mat-paginator (page)="handleVersionPageEvent($event)"
                                       [disabled]="false"
                                       [hidePageSize]="false"
                                       [length]="(secretVersions$ | async)?.total"
                                       [pageIndex]="(versionPageIndex$ | async)"
                                       [pageSizeOptions]="versionPageSizeOptions"
                                       [pageSize]="(versionPageSize$ | async)"
                                       [showFirstLastButtons]="true"
                                       aria-label="Select page">
                        </mat-paginator>
                    </div>
                    <ng-template #tagsNotFound>No tags found</ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
    <footer-component [lastUpdate]="lastUpdate"/>
</mat-card>
