<h2 cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" cdkcdkDrag mat-dialog-title>SQS message: {{ messageId }}</h2>
<div *ngIf="isJson">
    <mat-dialog-actions>
        <mat-slide-toggle (change)="changePrettyPrint($event)" [checked]="prettyPrint" labelPosition="before">
            Pretty Print:
        </mat-slide-toggle>
    </mat-dialog-actions>
</div>
<mat-dialog-content class="mat-typography">
    <mat-tab-group>
        <mat-tab label="Body">
            <mat-form-field style="width: 100%;height:100%">
                <mat-label>Message:</mat-label>
                <textarea [(ngModel)]="body" cdkAutosizeMinRows="20" cdkTextareaAutosize matInput placeholder="Message" readonly style="width:100%; height:100%"></textarea>
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Attributes">
            <mat-card-actions class="head-buttons">
                <span class="fill-remaining-space">
                </span>
                <button (click)="addAttribute()" aria-label="Refresh" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-actions>
            <table (matSortChange)="attributeSortChange($event)" [dataSource]="messageAttributes" class="mat-elevation-z8" mat-table matSort>
                <ng-container matColumnDef="key">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="ID" sortActionDescription="Sort by attribute name">Name</th>
                    <td *matCellDef="let element" mat-cell> {{ element.Key }}</td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Attribute value" sortActionDescription="Sort by attribute value">Value</th>
                    <td *matCellDef="let element" mat-cell> {{ element.Value }}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Attribute value" sortActionDescription="Sort by attribute type">Type</th>
                    <td *matCellDef="let element" mat-cell> {{ element.DataType }}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef mat-header-cell style="width:120px">Actions</th>
                    <td *matCellDef="let row" mat-cell>
                        <button (click)="editAttribute(row)" aria-label="Delete" mat-icon-button matTooltip="Delete attribute">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="deleteAttribute(row.Key)" aria-label="Delete" mat-icon-button matTooltip="Delete attribute">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr *matHeaderRowDef="attributeColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: attributeColumns;" mat-row></tr>
                <tr *matNoDataRow class="mat-row">
                    <td [attr.colspan]="attributeColumns.length" class="mat-cell">
                        No data matching the filter.
                    </td>
                </tr>
            </table>
            <mat-paginator (page)="handleAttributePageEvent($event)"
                           [disabled]="false"
                           [hidePageSize]="false"
                           [length]="messageAttributeLength"
                           [pageIndex]="attributePageIndex"
                           [pageSizeOptions]="attributePageSizeOptions"
                           [pageSize]="attributePageSize"
                           [showFirstLastButtons]="true"
                           aria-label="Select page">
            </mat-paginator>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
